{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}Online Shop{% endblock %}</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&family=Fredericka+the+Great&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="header">
            <a href="/" class="logo">Online Shop</a>
        </div>
        <div id="subheader">
            <div class="cart">
                Your cart is empty.
            </div>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>